%#template to generate a HTML table from a list of tuples (or list of lists, or tuple of tuples or ...)
<p>The open items are as follows:</p>
<table border="1">
    %for row in rows:
        <tr>
            %for col in row:
                %if isinstance(col, int):
                    <td><a href="/edit/{{col}}">{{col}}</a></td>
                %else:
                    <td>{{col}}</td>
                %end
            %end
        </tr>
    %end
</table>
<br>
<form action="/new" method="get">
    <input type="submit" value="Add todo">
</form>
